<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/stylesheets/events/confirmation.css" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <script src="/javascripts/components/header.js" defer></script>
        <script src="/javascripts/icon.js" defer></script>
        <script src="/javascripts/events/confirmation.js" defer></script>

        <link rel="icon" href="/images/logo-light.svg" type="image/svg+xml">
        <title>ShowPass</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Barra de navegação -->
        <header id="header">
            <%- include('../components/header') %>
        </header>

        <!-- Conteúdo da página -->
        <div class="content flex-grow-1" id="content">
            <div class="container my-5">
                <h2 class="text-center">Confirme a Operação</h2>
                <div class="card p-4 mt-3">
                    <h5 class="summary mb-3">Resumo da Seleção</h5>
                    <p class="text-muted">Atenção: Seus ingressos ainda não estão reservados. Confirme sua seleção para garantir seu lugar.</p>
                    
                    <div id="ticket-details">
                        <div class="event-title">Guts World Tour - Curitiba (26/03/25)</div>
                        <div class="ticket-info">
                            <span><strong>1x </strong>Pista - Inteira</span>
                            <span>R$ 900,00</span>
                        </div>
                    </div>
                    
                    <hr>
                    <h5 class="total-container">Total: <span id="total-price">R$ 900,00</span></h5>
                    
                    <div class="mt-3">
                        <a href="/" class="btn btn-primary">Confirmar a Reserva</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Rodapé  -->
        <footer id="footer">
            <%- include('../components/footer') %>
        </footer>
    </body>
</html>