.btn-create-event {
    margin-right: 3%;
}

.btn-create-event {
    position: relative;
    margin-top: 10px;
}

.btn-create-event:hover,
.btn-create-event:active {
    background-color: #78258d !important;
    color: white;
}