<link href="/stylesheets/components/header.css" rel="stylesheet"> 

<body>
    <nav class="navbar navbar-expand-lg flex-column">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/admin">
                <img src="/images/logo-light.svg" class="logo">
                ShowPass
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" id="events">
                        <a class="nav-link" href="/">Usuário</a>
                    </li>
                    <li class="nav-item" id="events">
                        <a class="nav-link" href="/admin/eventos">Eventos</a>
                    </li>
                    <li class="nav-item" id="carousel">
                        <a class="nav-link" href="/admin/carrossel">Carrossel</a>
                    </li>
                    <li class="nav-item" id="sections">
                        <a class="nav-link" href="/admin/secoes">Seções</a>
                    </li>
                    <li class="nav-item" id="logout">
                        <a class="nav-link" href="/sair">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>