<link href="/stylesheets/components/footer.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<body>
    <div class="container">
        <div class="row">
            <!-- Acesso Rápido -->
            <div class="col-md-4 mb-3">
                <h5 class="footer-title text-center">Acesso Rápido</h5>
                <ul class="list-unstyled text-center">
                    <li><a href="meus-pedidos">Meus pedidos</a></li>
                    <li><a href="meu-perfil">Meu perfil</a></li>
                    <li><a href="suporte">Suporte ao Fã</a></li>
                </ul>
            </div>
            <!-- Termos e Políticas -->
            <div class="col-md-4 mb-3">
                <h5 class="footer-title text-center">Termos e Políticas</h5>
                <ul class="list-unstyled text-center">
                    <li><a href="">Termos de uso</a></li>
                    <li><a href="">Política de compra</a></li>
                    <li><a href="">Política de cookies</a></li>
                </ul>
            </div>
            <!-- Sobre a ShowPass -->
            <div class="col-md-4 mb-3">
                <h5 class="footer-title text-center">Sobre a ShowPass</h5>
                <ul class="list-unstyled text-center">
                    <li><a href="">ShowPass Brasil</a></li>
                    <li><a href="">ShowPass Internacional</a></li>
                    <li><a href="">Trabalhe com a gente</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-logo text-center mt-4">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.svg" class="logo">
            </a>
            <div class="social-icons text-center">
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>
</body>