<link href="/stylesheets/components/search-bar.css" rel="stylesheet"> 

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<body>
    <nav class="navbar navbar-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar artista ou evento">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Pesquisar
                <div class="icon-search">
                    <ion-icon name="search-outline"></ion-icon>
                </div>
            </button>
        </form>
    </nav>
</body>