<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/stylesheets/orders.css" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <script src="/javascripts/components/header.js" defer></script>
        <script src="/javascripts/icon.js" defer></script>
        <script src="/javascripts/orders.js" defer></script>

        <link rel="icon" href="/images/logo-light.svg" type="image/svg+xml">
        <title>ShowPass</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Barra de navegação -->
        <header id="header">
            <%- include('components/header') %>
        </header>

        <!-- Conteúdo da página -->
        <div class="content flex-grow-1" id="content">
            <!-- Barra de pesquisa -->
            <%- include('components/search-bar') %>

            <div class="container">
                <!-- Filtro -->
                <div class="filter-container">
                    <label for="date-filter">Filtrar por data:</label>
                    <select id="date-filter">
                        <option value="all">Todos</option>
                        <option value="this-month">Este mês</option>
                        <option value="last-3-months">Últimos 3 meses</option>
                        <option value="last-6-months">Últimos 6 meses</option>
                        <option value="last-year">Último ano</option>
                    </select>
                </div>
            
                <!-- Cards -->
                <div class="cards-container">
                    <div class="card" onclick="redirectToPage('/')">
                        <img src="/images/lollapalooza.gif" alt="Lollapalooza Brasil 2025">
                        <h3>Lollapalooza Brasil 2025</h3>
                        <p>Autódromo de Interlagos</p>
                        <small>Pedido #24549417 - 10 de setembro de 2024</small>
                    </div>
            
                    <div class="card" onclick="redirectToPage('/')">
                        <img src="/images/brunoMars.avif" alt="Bruno Mars">
                        <h3>Bruno Mars - Belo Horizonte</h3>
                        <p>Estádio Mineirão</p>
                        <small>Pedido #20296078 - 21 de maio de 2024</small>
                    </div>
            
                    <div class="card" onclick="redirectToPage('/')">
                        <img src="/images/brunoMars.avif" alt="Bruno Mars">
                        <h3>Bruno Mars - São Paulo</h3>
                        <p>MorumBis</p>
                        <small>Pedido #18298973 - 6 de maio de 2024</small>
                    </div>
                </div>

                <div class="no-results-message">
                    Nenhum evento encontrado.
                </div>
            </div>
        </div>
        
        <!-- Rodapé  -->
        <footer id="footer">
            <%- include('components/footer') %>
        </footer>
    </body>
</html>