<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/stylesheets/register.css" rel="stylesheet"> 
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="/javascripts/components/header.js" defer></script>
        <script src="/javascripts/register.js" defer></script>
        <script src="/javascripts/icon.js" defer></script>

        <link rel="icon" href="/images/logo-light.svg" type="image/svg+xml">
        <title>ShowPass</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Barra de navegação -->
        <header id="header">
            <%- include('components/header') %>
        </header>

        <!-- Conteúdo da página -->
        <div class="content flex-grow-1" id="content">
            <form class="forms row g-3 needs-validation" novalidate>
                <div class="col-12">
                    <label for="name" class="form-label">Nome completo</label>
                    <input type="text" class="form-control" id="name" placeholder="Joãozinho Fulano de Tal" required>
                    <div class="invalid-feedback"><!-- A mensagem de erro será alterada dinamicamente aqui --></div>
                </div>
                <div class="col-12">
                    <label for="user" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="user" placeholder="jzinho13" required>
                    <div class="invalid-feedback"><!-- A mensagem de erro será alterada dinamicamente aqui --></div>
                </div>
                <div class="col-md-6">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder="000.000.000-00" required>
                    <div class="invalid-feedback"><!-- A mensagem de erro será alterada dinamicamente aqui --></div>
                </div>
                <div class="col-md-6">
                    <label for="birth-date" class="form-label">Data de nascimento</label>
                    <input type="date" class="form-control" id="birth-date" required>
                    <div class="invalid-feedback"><!-- A mensagem de erro será alterada dinamicamente aqui --></div>
                </div>
                <div class="col-12">
                    <label for="cellphone" class="form-label">Celular</label>
                    <input type="text" class="form-control" id="cellphone" placeholder="(00) 00000-0000" required>
                    <div class="invalid-feedback"><!-- A mensagem de erro será alterada dinamicamente aqui --></div>
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="joaozinho@email.com" required>
                    <div class="invalid-feedback"><!-- A mensagem de erro será alterada dinamicamente aqui --></div>
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Senha</label>
                    <div class="password-container">
                        <input type="password" class="form-control" id="password" placeholder="********" required>
                        <div class="invalid-feedback"><!-- A mensagem de erro será alterada dinamicamente aqui --></div>
                        <button type="button" id="toggle-password-1" class="btn btn-secondary">
                            <ion-icon name="eye-off"></ion-icon>
                        </button>
                    </div>
                    <div class="progress-container">
                        <div class="progress">
                            <div id="password-strength-meter" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="password-strength-msg" class="strength-message"></div>
                        <ion-icon name="information-circle-outline" class="info-icon" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right"
                            title="<div class='tooltip-custom'>
                                        A senha deve conter:
                                        <br><br>
                                        <ul style='margin: 0; padding-left: 20px;'>
                                            <li>Pelo menos 8 caracteres</li>
                                            <li>Uma letra maiúscula</li>
                                            <li>Uma letra minúscula</li>
                                            <li>Um número</li>
                                            <li>Um caractere especial</li>
                                        </ul>
                                    </div>">
                        </ion-icon>
                    </div>
                </div>
                <div class="col-12">
                    <label for="check-password" class="form-label">Confirme sua senha</label>
                    <div class="password-container">
                        <input type="password" class="form-control" id="check-password" placeholder="********" required>
                        <div class="invalid-feedback"><!-- A mensagem de erro será alterada dinamicamente aqui --></div>
                        <button type="button" id="toggle-password-2" class="btn btn-secondary">
                            <ion-icon name="eye-off"></ion-icon>
                        </button>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>

        <!-- Rodapé  -->
        <footer id="footer">
            <%- include('components/footer') %>
        </footer>
    </body>
</html>