@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:wght@300;400;500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');

body {
    font-family: 'JetBrains Mono';
    font-size: 16px;
}

.navbar, .search-bar button {
    background-color: #5F1571;
}

.navbar-brand, .nav-link, .btn {
    color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Jaro';
    font-size: 32px;
    padding-left: 20px;
}

.navbar-brand:hover, .nav-link:hover {
    color: #FFFFFF;
}

.navbar-brand:active, .nav-link:active {
    color: #FFFFFF;
}

.navbar-brand:visited, .nav-link:visited {
    color: #FFFFFF;
}

.navbar-nav {
    padding-right: 20px;
    gap: 15px;
}

.search-bar {
    width: 40%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-bar input {
    height: 50px;
}

.search-bar button {
    height: 35px;
}

.search-bar button, .search-bar input::placeholder {
    font-size: 12px;
}

.search-bar button {
    border: none;
    position: absolute;
    right: 17px;
    top: 28px;
}